{% extends 'base.html' %}

{% block title %}Список сотрудников{% endblock %}

{% block content %}
    <h2>Список сотрудников</h2>
    <ul>
        {% for employee in employees %}
            <li>
                <a href="{% url 'employee-detail' employee.pk %}">
                    {{ employee.user.first_name }} {{ employee.user.last_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'employee-create' %}">Добавить нового сотрудника</a>
{% endblock %}
