{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2>Добро пожаловать!</h2>

    <h3>О нас:</h3>
    <p>
        Мы — тима профи, которая шарит в разных темах. Наши депы двигают новые фишки в техе и бизнесе.
        <br>  
        Люди у нас топовые: с опытом и готовы сделать реальностью любые хайповые идеи. 🚀
    </p>

    <a href="{% url 'user-create' %}"> 
        <img src="{% static 'images/cat_back.jpg' %}" alt="Создай меня" style="width: 70%; max-width: 600px;">
    </a>
    
{% endblock %}
